.App{
    text-align: center;
    color: #185d5d;
}

.board{
    margin: 0 auto;
/*    border: 2px solid blue;
    border-radius: 15px;*/
    width: 325px;
    height: 325px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.cell{

    background-color: antiquewhite;
    border: 2px solid white;
    box-shadow: 4px 4px 4px rgba(45, 17, 17, 0.56);
    border-radius: 15px;
    width: 100px;
    height: 100px;
    font-size: 4rem;
    font-weight: bolder;

}

.reset-button{
    width: 200px;
    height: 50px;
    background-color: #13c0c0;
    border: none;
    border-radius: 15px;
    color: azure;
    font-weight: bolder;
    font-size: large;
    box-shadow: 4px 4px 4px rgba(45, 17, 17, 0.56);
}

.next-move{
    font-size: 2rem;
}

.winner{
    font-size: 2rem;
    color: red;
}
.is-draw{
    font-size: 2rem;
    color: rgb(117, 12, 12);
}
/* Shake 'X' animation */
@keyframes shakeX {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}
/* Shake 'X' animation */
@keyframes shakeX {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

/* Shake 'O' animation (horizontal shaking) */
@keyframes shakeOHorizontal {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px); /* Horizontal shaking */
    }
    50% {
        transform: translateX(-5px); /* Horizontal shaking */
    }
    75% {
        transform: translateX(5px); /* Horizontal shaking */
    }
    100% {
        transform: translateX(-5px); /* Horizontal shaking */
    }
}

/* Shake 'O' animation (vertical shaking) */
@keyframes shakeOVertical {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px); /* Vertical shaking */
    }
    50% {
        transform: translateY(5px); /* Vertical shaking */
    }
    75% {
        transform: translateY(-5px); /* Vertical shaking */
    }
    100% {
        transform: translateY(5px); /* Vertical shaking */
    }
}

.shaking-x {
    animation: shakeX 0.5s ease-in-out;
    animation-iteration-count: 2;
}

.shaking-o-horizontal {
    animation: shakeOHorizontal 0.5s ease-in-out;
    animation-iteration-count: 2;
}

.shaking-o-vertical {
    animation: shakeOVertical 0.5s ease-in-out;
    animation-iteration-count: 2;
}
